#wrapper {
    max-width: 1300px;
    background-color: #ffffffe0;
    margin: 20px auto 20px;
    text-align: center;
}

body {
    background-color: #35667C;
}

header {
    color: #fff;
    background-color: #6B350E;
}

.hero {
    text-align: center;
    padding: 30px;
    background-image: url(images/header-photo.jpg);
}

.navbar {
    display: flex;
    justify-content: center;
    align-content: center;
}

.navbar img{
    margin-right: auto;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar li {
    padding-left: 30px;
}

.section {
    display: flex;
}

.img-left{
    margin-right: auto;
}

.img-right{
    margin-left: auto;
}

footer {
    border-top: 1px solid #6B350E;
}
.information {
    display: flex;
    justify-content: space-evenly;
}

.social , .copyright {
    display: flex;
    justify-content: center;
}
.address {
    font-weight: 700;
}